<div class="col-12-span"><h1>Contact Us!</h1></div>
<h2 class="col-12-span">Our Goal</h2>
<p class="col-12-span">
    Here at PetShop inc, we aim to give every single customer the best experience possible while shopping with us.
    Because of that, we offer many ways to get in contact with a store in your local area to help with any questions,
    services, product order placements, and many more things
</p>

<h2 class="col-12-span">Contact us by Email</h2>
<p class="col-12-span">
    Our customer service email is <span id="email">petshopcorp@gmail.com</span>. While this is not a direct
    email to any store location. All emails are securly routed to the closest store to your home using advanced 
    artifical intelligence technology.
</p>

<h2 class="col-12-span">Contact us by Phone</h2>
<p class="col-12-span">
    Our cooperate customer service hotline is <span id="phone">1-800-372-2732</span>. However this will connect you
    to an operator at PetShop headquarters. To reach your local store, please go to ourn <a href="www.google.com">location tracker</a>
    to get a phone number to a location of your choosing
</p>

<h2 class="col-12-span">Contact us in Person</h2>
<p class="col-12-span">
    Unfortunatly due to public safety reasons, we will not be allowing any in store contact at any of out locations at this time.
    If you have a questions, we highly encourage you to either email us or call into a specific store location.
</p>
