<ng-template 
    [product_objs_list]="product_objs_list"
    [product_catagory]="product_catagory"
    [appPetShopProductDynamic]="product_type"
>

<app-product-nav-bar
    [nav_list]="product_catagory"
    [product_key]="product_type"
>
</app-product-nav-bar>

<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-12-span"><h1>{{title}}</h1></div>
<div class="col-12-span shop-catagory-grid">
    <app-pet-shop-product-listing 
        class="col-3-span" 
        *ngFor="let product of product_objs_list"
        [product]="product"
        [key]="product_type"
        [des]="product.des"
    >
    </app-pet-shop-product-listing>
</div>
</ng-template>