<ng-template 
    [product_objs_list]="product_objs_list"
    [product_catagory]="product_catagory"
    [appPetShopProductDynamic]="product_type"
>
<div class="col-blank"></div>
<div class="col-12-span row row-col-gap nav-bar">
    <div class="col-3-span" *ngFor="let l of product_catagory">
        <div *ngIf="isCurrentPage(l.link_name); then Then else Else"></div>
        <ng-template #Then>
            <a class="highlight" href="#{{l.href}}">{{displayName(l.link_name)}}</a>
        </ng-template>
        <ng-template #Else>
            <a href="#{{l.href}}">{{displayName(l.link_name)}}</a>
        </ng-template>
    </div>
</div>

<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-12-span shop-catagory-grid">
    <div 
        class="col-3-span" 
        *ngFor="let product of product_objs_list"
    >
        <div (click)="saveKeyAndIndex(product_type, product.link, product.index)">
            <img class="resize" src="{{product.imgUrl}}" alt="pet-shop-item-catagory" style="background-color: aqua;">
        </div>
        <div class="col-6-span" id="product-header">
            <h4 class="col-2-span">{{product.name}}</h4>
        </div>
        <div class="shop-catagory-grid">
            <p class="col-3-span">${{product.price}}</p>
            <p class="col-3-span">{{product.des}}</p>
        </div>
    </div>
</div>
</ng-template>