@import '../../assets/scss/borders.scss';

.shop-catagory-grid {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

    width: 100%;
    height: auto;

    column-gap: 10px;
    row-gap: 10px;
}

.resize {
    width: 100%;
    height: 300px;
}

#product-header {
    * {
        margin: 0px;
    }
}