<ng-template 
    [product_objs_list]="product_objs_list"
    [product_catagory]="product_catagory"
    [appPetShopProductDynamic]="product_type"
>
<div class="col-blank"></div>
<div class="col-12-span row row-col-gap nav-bar">
    <a
        *ngFor="let c of product_catagory"
        class="col-3-span"
        href="#{{links.get(c)}}"
    >
        {{c}}
    </a>
</div>

<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-12-span shop-catagory-grid">
    <div 
        class="col-3-span" 
        *ngFor="let product of product_objs_list"
    >
        <div (click)="saveKeyAndIndex(product_type, product.link, product.index)">
            <img class="resize" src="{{product.imgUrl}}" alt="pet-shop-item-catagory" style="background-color: aqua;">
        </div>
        <div class="col-6-span" id="product-header">
            <h4 class="col-2-span">{{product.name}}</h4>
        </div>
        <div class="shop-catagory-grid">
            <p class="col-3-span">${{product.price}}</p>
            <p class="col-3-span">{{product.des}}</p>
        </div>
    </div>
</div>
</ng-template>