@import "../../assets/scss/borders.scss";

* {
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: 300px;
}

div {
    width: auto;
    height: 99%;
}

.product-info {
    text-align: left;
    padding: 3px;
}