.shop-catagory-grid {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

    width: 100%;
    height: auto;

    column-gap: 10px;
    row-gap: 10px;

    img {
        margin: 0px;
        padding: 0px;
      }
    text-align: center;
}

.resize {
    width: 100%;
    height: 300px;
    max-height: 300px;
}