

<div class="col-12-span" id="banner">
  <img src="assets/images/app/pet-store-banner.png" alt="">
</div>

<div class="col-12-span row row-col-gap" id="nav-bar">
  <div class="col-1-span filler"></div>
  <a href="#{{home_link}}" class="col-2-span">Home</a>
  <a href="#{{about_link}}" class="col-2-span">About</a>
  <a href="#{{animals_link}}" class="col-2-span">Animals</a>
  <a href="#{{animal_supply_link}}" class="col-2-span">Animal Products</a>
  <a href="#{{contact_link}}" class="col-2-span">Contact</a>
  <div class="col-1-span filler"></div>
</div>


<router-outlet></router-outlet>