.deals-of-the-day {
    justify-items: center;
    img {
        width: 300px;
        height: 300px;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 900px) {
    .col-1-span {
        grid-column: span 1;
    }
    .col-10-span {
        grid-column: span 10;
    }
}