<h1 class="col-12-span"></h1>
<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>

<div class="col-12-span">
    <h1>Welcome Back to the Pet Shop!</h1>
</div>

<div class="col-12-span row" id="promo-item">
    <button class="col-1-span" (click)="prev()">Prev</button>
    <img 
        src="{{promoUrl.imgUrl}}" 
        class="col-10-span" alt="pet-shop-promo" 
        style="width: 100%; height: 500px; background-color: green;"
        (click)="redirect(promoUrl.key!!, promoUrl.index, promoUrl.link)"
    >
    <button class="col-1-span" (click)="next()">Next</button>
</div>

<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>
<app-pet-shop-offers [product_list]="deals" [offer_name]="'Deals Just For You'"></app-pet-shop-offers>
<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>
<app-pet-shop-offers [product_list]="supplies" [offer_name]="'Supplies'"></app-pet-shop-offers>
<div class="col-blank"></div>
<div class="col-blank"></div>
<div class="col-blank"></div>
<app-pet-shop-offers [product_list]="care_pack" [offer_name]="'Care Packages'"></app-pet-shop-offers>