
<div class="row">
    <div class="col-blank"></div>
    <div class="col-blank"></div>
    <div class="col-blank"></div>
    <div class="col-12-span" id="info-content">
        <img src="{{imgUrl}}" alt="animal-shop-product">
        <h4>{{name}}</h4>
        <p>{{des}}</p>
    </div>
    <div class="col-blank"></div>
    <div class="col-blank"></div>
    <div class="col-12-span">
        <button>${{price}} - Buy Now</button>
    </div>
    <div class="col-blank"></div>
    <div class="col-blank"></div>
    <div class="col-12-span" id="footer">
        <p>
            image source <a href="{{imgSource}}" target="_blank">here</a>
            description source <a href="{{desSource}}" target="_blank">here</a>
        </p>
    </div>
</div>
