
img {
    width: 75%;
    height: 300px;
}
#info-content{
    p {
        text-align: left;
    }
}

button {
    width: 30%;
    height: 50px;
}

#footer {
    height: 100px;
}

div#footer {
    border-top: 1px solid black;
}