<div class="row">
    <h2 class="col-12-span">About Petshop</h2>
    <p class="col-12-span">
        Pet Shop, Inc. is the largest specialty pet retailer of services and solutions for the lifetime needs of pets.
        At Pet Shop, we love pets, and we believe pets make us better people. Every day with every connection, Pet
        Shop’s passionate associates help bring pet parents closer to their pets so they, together, can live more
        fulfilled lives. This vision impacts everything we do for our customers, the way we support our associates and
        how we give back to our communities.
    </p>
    <p class="col-12-span">
        Pet Shop operates approximately 1,650 pet stores in the United States, Canada and Puerto Rico, as well as more
        than 200 in-store Pet Shop PetsHotel® dog and cat boarding facilities. The retailer provides a broad range of
        competitively priced pet food and products, as well as services such as dog training, pet grooming, pet
        boarding, Pet Shop Doggie Day Camp™ and pet adoption.
    </p>
    <p class="col-12-span">
        Pet Shop, Pet Shop Charities® and Pet Shop Charities® of Canada work with nearly 4,000 animal welfare
        organizations to bring adoptable pets into stores so they have the best chance possible of finding a forever
        home.
    </p>
    <p class="col-12-span">
        Through this in-store adoption program and other signature events, Pet Shop has facilitated more than 9 million
        adoptions, more than any other brick-and-mortar organization. In May 2017, Pet Shop acquired Chewy, Inc., which
        through its ownership and operation of Chewy.com, is a leading online retailer of pet food and products in the
        U.S. Pet Shop currently retains a controlling interest in Chewy, but Chewy operates as an independent, publicly
        traded (CHWY) subsidiary.
    </p>


    <p class="col-12-span" id="footer">
        about content came from <a href="https://www.petsmartcorporate.com/">here</a>
    </p>

</div>