/* You can add global styles to this file, and also import other style files */
$col-nums: 12;
$col-templates: repeat(#{$col-nums}, 1fr);

body {
    margin: 0px;
    padding: 0px;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(241, 231, 211);
    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;


}

div {
    text-align: center;
}

.website-grid {
    display: grid;

    grid-template-columns: $col-templates;
    grid-template-rows: auto;

    width: 95%;
    max-width: 1200px;
    
    height: auto;

    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.row {
    display: grid;

    grid-template-columns: $col-templates;
    grid-template-rows: auto;

    width: 100%;
    height: 100%;
}

.row-col-gap {
    column-gap: 10px;
}

.row-row-gap {
    row-gap: 10px;
}

.col-12-span {
    grid-column: span $col-nums;
}

.col-11-span {
    grid-column: span calc(#{$col-nums} - 1);
}

.col-10-span {
    grid-column: span calc(#{$col-nums} - 2);
}

.col-9-span {
    grid-column: span calc(#{$col-nums} - 3);
}

.col-8-span {
    grid-column: span calc(#{$col-nums} - 4);
}

.col-7-span {
    grid-column: span calc(#{$col-nums} - 5);
}

.col-6-span {
    grid-column: span calc(#{$col-nums} - 6);
}

.col-5-span {
    grid-column: span calc(#{$col-nums} - 7);
}

.col-4-span {
    grid-column: span calc(#{$col-nums} - 8);
}

.col-3-span {
    grid-column: span calc(#{$col-nums} - 9);
}

.col-2-span {
    grid-column: span calc(#{$col-nums} - 10);
}

.col-1-span {
    grid-column: span calc(#{$col-nums} - 11);
}

.col-blank {
    grid-column: span $col-nums;
    height: 10px;
}

@media screen and (max-width: 900px) {
    .col-12-span,
    .col-11-span,
    .col-10-span,
    .col-9-span,
    .col-8-span,
    .col-7-span,
    .col-6-span,
    .col-5-span,
    .col-4-span,
    .col-3-span,
    .col-2-span,
    .col-1-span {
        grid-column: span $col-nums;
    }

    .website-grid, .row {
        row-gap: 10px;
    }
}